<div class="container">
    <h3 class="text-centre">Client Search Results</h3>
    <hr>
    <table class="table table-bordered table-hover">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Client ID</th>
            <th>Add Voucher</th>
        </tr>
        {{#each client}}
            <tr>
                <form action="/clients/clientSearchResults" method="post">
                    <td>
                        {{firstName}} {{lastName}}
                        <input type="hidden" name="name" value="{{firstName}} {{lastName}}">
                    </td>
                    <td>
                        {{email}}
                        <input type="hidden" name="email" value="{{email}}">
                    </td>
                    <td>
                        {{mobile}}
                        <input type="hidden" name="mobile" value="{{mobile}}">
                    </td>
                    <td>
                        {{clientId}}
                        <input type="hidden" name="clientId" value="{{clientId}}">
                    </td>
                    <td>
                        <input type="number" id="amount" name="amount" required>
                        <button class="btn navbar-color white" type="submit">Add Voucher</button>
                    </td>
                </form>
            </tr>
        {{/each}}
    </table>
</div>